<?xml version="1.0" encoding="utf-8" ?>
<!--
********适配器V3.0《Adapter.config》使用说明********
【注】：VS编译动态库前须设置该文件“复制到输出目录”属性为“始终复制”或者“如果较新则复制”。
【注】：手动复制到交易控制器TransactionServer时须一并复制到与动态库同级目录。
-->
<configuration>
  <connectionStrings>
    <add name="BankHospitalConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=New_BankHospital;uid=sa;pwd=inspur123!@#" providerName="System.Data.SqlClient" />
    <add name="HisConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=New_BankHospital;uid=sa;pwd=inspur123!@#" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--His相关配置-->
   <add key="HisWebService" value="http://100.100.6.2:1021/ChisWebService.asmx"/>
    <add key="wsdlName" value="ChisWebService"/>
     <!--<add key="HisWebService" value="http://10.14.11.247:999/HisTestWebService.asmx"/>
    <add key="wsdlName" value="HisTestWebService"/>-->

    <!--Bank相关配置-->
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="9999"/>
    <!--发包编码格式-->
    <add key="EncodingType" value="GBK"/>
    <!--收包编码格式-->
    <add key="DecodingType" value="GBK"/>
    <!--单个缓冲区大小（字节），大小不影响数据包完整性，影响接收次数-->
    <add key="SingleBuffSize" value="1024"/>
    <!--发包超时时间（ms）-->
    <add key="SendTimeout" value="30000"/>
    <!--收包超时时间（ms）-->
    <add key="ReceiveTimeout" value="30000"/>
  </appSettings>
</configuration>